video {
    width: 640px;
    height: auto;
}
.videos {
    text-align: center;
    padding: .5rem 0 0 0;
}

.hide {
    display: none;
}

.info {
    text-align: center;
}
.toaster {
    height: 4rem;
    background: grey;
    padding: .1rem;
    color: #EEE;

    border: 1pt solid #EEE;
}